.heading {
    text-align: center;
    object-fit: cover;
    overflow: hidden;
    margin: 5% auto;
    line-height: 1.5;
}

.search-bar {
    margin: 5% !important;
    width: 250px !important;
}

.title {
    font-size: 3rem !important;
    color: #364F6B;
    height: 250px;
    bottom: 10px !important;
    left: 20px;
}

.title-img {
    max-width: 1400px;
    width: 100%;
}