.item-list {
    margin: 50px 10px 100px !important;
    max-width: fit-content;
    font-size: 0.8em !important;
    line-height: 0.9em;
}

.item-card {
    margin: 3%;
    width: 12rem;
    border-width: 0 !important;
    box-shadow: 5px 5px 5px;
    background-color: #a7d6da !important;
    cursor: pointer;
}

.item-card:hover {
    background-color: #9ec9ce !important;
}

.item-card img {
    max-height: 180px;
}

.col {
    float: none;
    margin: 1%;
}