.notifications-board {
    float: right;
    min-height: 100vh;
    max-width: 400px !important;
    background-color: #EFEAD8;
    padding-top: 20px;
    display: flex;
}

.notifications-board li {
    padding: 16px;
    border-radius: 4px;
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.05);
    background: #CFFDE1;
}

.notifications-board textarea {
    min-height: 40px;
    font-size: 0.9em;
}

.notifications-board h4 {
    text-align: center;
}